* {
  margin: 0px;
  padding: 0px;
}
/* banner section style */
.banner-container {
  height: 100vh;
  background-image: url("../images/banner/banner2.png"),
    linear-gradient(rgb(137, 137, 137), rgb(137, 137, 137));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  padding-top: 230px;
  padding-right: 230px;
}
.banner-title {
  color: #151414;
  text-align: right;
  font-family: Work Sans;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-description {
  color: #444343;
  text-align: right;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.btn {
  border-radius: 5px;
  background: #f15b22;
  padding: 20px 25px;
  border: none;
  float: right;
  color: #fff;
  text-align: right;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
}

/* failure section styles */
.failure-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.person {
  width: 450px;
  height: 600px;
}
.failure-title {
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.failure-description {
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.item {
  list-style: none;
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
li i {
  color: rgb(9, 234, 167);
  padding-right: 10px;
}
.failure-container {
  background-color: #fff;
  margin: 130px;
}

/* My plan section styles */
.myplan-title {
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}
.all-plans {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.plan {
  text-align: center;
}
.plan-img {
  padding-bottom: 30px;
}
.plans-name {
  color: #151414;
  text-align: center;
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}
.plan-description {
  color: #737272;
  text-align: center;
  font-family: Work Sans;
  font-size: 25px;
  font-weight: 500;
}
.myPlan-container {
  background-color: #fff;
  margin: 130px;
}

/* call now section style */
.callNow-container {
  background-image: url("/images/watch.png"),
    linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1140px;
  height: 300px;
  margin: auto;
  margin-bottom: 100px;
  background-blend-mode: overlay;
  border-radius: 8px;
}
.call-info {
  padding-left: 60px;
  padding-top: 60px;
}
.callNow-title {
  color: #fff;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}
.Clbtn {
  border-radius: 5px;
  background: #fff;
  padding: 20px 30px;
  color: #f15b22;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
}

/* future section styles */
.future-container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: black;
}
.future-info {
  padding-top: 130px;
  padding-left: 230px;
}
.future-title {
  color: #f8f8f8;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 30px;
}
.future-description {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 20px;
}
li {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  list-style: none;
  padding-bottom: 20px;
}
.media-link {
  padding-bottom: 250px;
}
.subscribe {
  padding-top: 130px;
  padding-right: 230px;
}
.subscribe-title {
  color: #fff;
  font-family: Work Sans;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}
.email {
  color: #f3f3f3;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  padding: 21px 158px 22px 21px;
  background: black;
  margin-bottom: 20px;
  border-radius: 5px;
}
