* {
  margin: 0px;
  padding: 0px;
}
/* banner section style */
.banner-container {
  height: 100vh;
  background-image: url("../images/banner/banner2.png"),
    linear-gradient(rgb(137, 137, 137), rgb(137, 137, 137));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  padding-top: 230px;
  padding-right: 230px;
}
.banner-title {
  color: #151414;
  text-align: right;
  font-family: Work Sans;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-description {
  color: #444343;
  text-align: right;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.btn {
  border-radius: 5px;
  background: #f15b22;
  padding: 20px 25px;
  border: none;
  float: right;
  color: #fff;
  text-align: right;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
}

/* failure section styles */
.failure-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.person {
  width: 450px;
  height: 600px;
}
.failure-title {
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.failure-description {
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.item {
  list-style: none;
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
li i {
  color: rgb(9, 234, 167);
  padding-right: 10px;
}
.failure-container {
  background-color: #fff;
  margin: 130px;
}

/* My plan section styles */
.myplan-title {
  color: #151414;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}
.all-plans {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.plan {
  text-align: center;
}
.plan-img{
    padding-bottom: 30px;
}
.plans-name {
  color: #151414;
  text-align: center;
  font-family: Work Sans;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}
.plan-description {
  color: #737272;
  text-align: center;
  font-family: Work Sans;
  font-size: 25px;
  font-weight: 500;
}
.myPlan-container{
    background-color: #fff;
    margin: 130px;
}
